* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a,a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
main {
    display: grid;
    grid-template-columns: 220px 2fr;
    grid-template-areas: 'aside content';
}
aside {
    display: grid;
    padding: 50px 20px 10px;
    row-gap: 80px;
    background-color: white;
    position: fixed;
    grid-area: aside;
    height: 100%;
    width: 220px;
    box-sizing: border-box;
}
aside img {
    width: 70px;
    border-radius: 50%;
    border: 4px solid rgba(200, 200, 200, 0.9);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
}
aside .logo, aside .copyright  {
    margin: 0 auto;
}
.nyam {
    height: 35px;
    width: 35px;
    background-color: black;
    position: fixed;
    display: flex;
    left: 240px;
    z-index: 100;
}
.nav li {
    margin: 10px 0px;
    border-bottom: 2px solid rgba(200, 200, 200, 0.9);
    padding: 10px;
    text-shadow: 0px 2px 4px rgba(150, 150, 150, 0.9);;
}
.content {
    display: grid;
    grid-area: content;
    background-color: rgba(237, 236, 250, 0.9);
}
section {
    min-height: 100vh;
}
.home {
    display: none;
    place-content: center;
    justify-items: center;
    row-gap: 15px;
}
.home img {
    width: 200px;
    border-radius: 50%;
    border: 4px solid rgba(200, 200, 200, 0.9);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
}
.about {
    padding: 0px 20px 10px;
    display: none;
    align-content: baseline;
    row-gap: 40px;
}
.about h2, .showcase h2, .portfolio h2 {
    padding-top: 90px;
    border-bottom: 2px solid rgba(200, 200, 200, 0.9);
}
.about h3 {
    margin-bottom: 16px;
}
.attr {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 'detail gauge';
}
.detail {
    grid-area: detail;
}
.detail p {
    margin-bottom: 8px;
}
.gauge {
    grid-area: gauge;
}
.g-title {
    display: flex;
    justify-content: space-between;
}
.g-bar {
    background-color: rgba(200, 200, 200, 0.9);
    max-width: 100%;
    height: 10px;
    border-radius: 10px;
}
.g-amount {
    background-color: red;
    position: relative;
    height: 9px;
    width: 10px;
    border-radius: 10px;
}
.desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    grid-template-areas: 'edu exp';
}
.desc h1 {
    margin-bottom: 15px;
}
.edu::before, .exp::before{
    content: '';
    width: 2px;
    position: absolute;
    height: 94.5%;
    background-color: red;
}
.edu, .exp {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
    height: auto;
    position: relative;
}
.edu li::before, .exp li::before{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    left: 17px;
    background-color: red;
    border-radius: 50%;
}
.edu li, .exp li {
    margin-bottom: 20px;
    margin-left: 20px;
}
.edu li:last-child, .exp li:last-child {
    margin-bottom: 0px;
}
.edu li h6, .edu li h4, .exp li h6, .exp li h4 {
    margin-bottom: 10px;
}
table {
    table-layout: fixed ;
    width: 100% ;
}
td {
width: 25% ;
}
.showcase {
    display: none;
    padding: 0px 20px 10px;
    row-gap: 20px;
}
.case {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px;
}
.case li {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
    border: 10px solid white;
    border-radius: 10px;
    height: fit-content;
}
.case li:hover {
    transform: scale(1.1);
}
.case img {
    width: 100%;
}
.lightcase {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    place-content: center;
    animation: lightbox 1s forwards;
}
@keyframes lightbox {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.lightcase img {
    height: auto;
    width: auto;
    max-height: 450px;
    max-width: 100%;
}
.lightCaption {
    position: relative;
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    padding: 0px 20px;
}
.lightcaseClose {
    display: grid;
    justify-items: right;
}
.lightcaseClose::after {
    content: 'x';
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
    width: 20px;
    height: 20px;
    display: grid;
    text-align: center;
    display: grid;
    justify-self: right;
    cursor: pointer;
}
.lightcaseControl {
    position: absolute;
    width: 100%;
    top: 50%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    font-size: 35px;
    color: red;
}
.lightcaseControl div {
    background-color: white;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    cursor: pointer;
    margin: 0px 10px;
}
.lightcaseControl div:hover{
    transform: scale(1.1);
}
.portfolio {
    display: grid;
    padding: 0px 20px 10px;
    row-gap: 20px;
}
.filter {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-evenly;
    justify-items: center;
}
.filter button {
    border-bottom: 2px solid rgba(200, 200, 200, 0.9);
    height: 25px;
    cursor: pointer;
}
.p-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    gap: 20px;
}
.p-item li {
    box-shadow: 0px 2px 8px rgb(150, 150, 150);
    border-radius: 10px;
    height: fit-content;
    border: 5px solid white;
}
.p-item li:hover {
    transform: scale(1.1);
}
.p-item img {
    width: 100%;
}
@media screen and (max-width:1000px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'content';
    }
    aside {
        display: none;
    }
}
@media screen and (max-width:451px) {
    main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'content';
    }
    aside {
        display: none;
    }
    .attr {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 'gauge' 'detail';
        row-gap: 20px;
    }
    .detail {
        display: grid;
        grid-area: detail;
    }
    .gauge {
        display: grid;
        grid-area: gauge;
    }
    .desc {
        display: grid;
        row-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-areas: 'edu' 'exp';
    }
    .edu {
        grid-area: edu;
    }
    .exp {
        grid-area: exp;
    }
}