/* Dll */
@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic&display=swap');
body{
    margin: 0;
    padding: 0;
}
* {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Andika New Basic', 'Arial', 'sans-serif';
}
a,a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

/* Aside */
aside{
    border: 1px solid black;
    position: fixed;
    height: 100%;
    background-color: #222831;
    color: white;
    width: 200px;
    z-index: 3;
}
.inner-aside{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 1fr 4fr 50px;
}
.logo, .sign{
    place-self: center;
}
.logo img {
    border-radius: 50%;
    width: 90px;
    border: 2px solid grey;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
}

/* Burger style */
.nyam {
    height: 35px;
    width: 35px;
    background-color: white;
    position: fixed;
    display: none;
    left: 220px;
    top: 25px;
    border-radius: 5px;
    justify-content: center;
    align-content: center;

}
.nyam span, .nyam span::before, .nyam span::after {
    height: 2px;
    width: 20px;
    background-color: grey;
}
.nyam span::before, .nyam span::after{
    content: '';
    position: absolute;
}
.nyam span::before {
    top: 8px;
}
.nyam span::after {
    top: 25px;
}

/* Nav style */
.nav{
    padding: 10px 10px 0px;
}
.nav li {
    border-bottom: 2px solid rgba(200, 200, 200, 0.9);
}
.nav li:not(:first-child){
    margin-top: 15px;
}
.nav li a {
    color: white;
    transition: all 0.3s ease;
}
.nav li a:not(.active):hover {
    padding-left: 10px;
}
.nav li a.active {
    color: #ffd369;
}

/* Main */
.main{
    border: 1px solid black;
    background-color: grey;
    margin-left: 200px;
}

/* All section */
section{
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    z-index: 0;
    min-height: 100vh;
    background-color: #393e46;
    color: rgba(215, 215, 215, 0.9);
    display: grid;
    width: 86%;
    padding-left: 5px;
}
section h2{
    border-bottom: 2px solid rgba(200, 200, 200, 0.9);
}
section:not(first-child) div:first-child{
    align-self: flex-end;
}
section.active{
    z-index: 2;
    animation: slidesection 0.5s forwards;
}
section.back {
    z-index: 1;
}
@keyframes slidesection {
    0% {
        transform: translateX(100%)
    }
    100% {
        transform: translateX(0%)
    }
}

/* Home section */
#home{
    align-content: center;
    justify-items: center;
    row-gap: 10px;
}
#home img{
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
}
#home a:not(:first-child){
    margin-left: 5px;
}
#home p{
    justify-content: center;
}

/* playlist */
#playlist{
    grid-template-rows: 100px auto;
    row-gap: 20px;
}
.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    grid-template-rows: repeat(auto-fit, 160px);
    gap: 10px 10px;
    margin-bottom: 75px;
    justify-content: center;
}
.list>li {
    display: grid;
    grid-template-columns: 100px 300px;
    grid-template-rows: auto;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    background-color: #393e46;
    border: 1px solid black;
    column-gap: 5px;
    line-height: 1.6;
    align-items: center;
}
.listHead{
    display: grid;
    align-content: center;
    justify-content: center;
    background-color: #222831;
    height: 100%;
    width: 100%;
}
.list li div:first-child img{
    width: 80px;
    border-radius: 10px;
}
.list li div:nth-child(2){
    display: grid;
    padding: 5px 0px;
    padding-right: 5px;
    justify-content: space-between;
}
.list li a:link, .list li a:visited{
    color: black;
}
.listDesc{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5px;
    justify-self: start;
}
.fullList{
    width: 100%;
}
.fullList>button{
    margin: 0px 110px;
    background-color: #222831;
    color: rgba(215, 215, 215, 0.9);
    border-radius: 5px;
    padding: 4px 8px;
}
.listMenu{
    background-color: #222831;
    width: 290px;
    height: 110px;
    overflow-y: scroll;
    border: 1px solid black;
}
.listMenu li{
    padding: 5px;
    margin: 10px 5px;
    background-color: #393e46;
    border: 1px solid white;
    border-radius: 5px;
    line-height: 1.6;
    display: grid;
    grid-template-columns: 50px auto;
    justify-items: start;
}
.fullList>ul{
    position: absolute;
    display: none;
    z-index: 100;
}

/* Project */
#project{
    grid-template-rows: 100px auto;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, auto);
    gap: 10px 10px;
    padding-top: 20px;
    justify-content: center;
    padding-bottom: 25px;
}
.projects li{
    display: grid;
    align-content: flex-start;
    padding: 10px 6px;
    row-gap: 10px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    background-color: #222831;
    height: fit-content;
}
.projects h4{
    justify-self: end;
    padding: 4px 6px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 2px white;
    background-color: #393e46;
    color: rgb(180, 180, 180);
}
.projects a:link, .projects a:visited{
    color: rgb(180, 180, 180);
}

/* About */
#about{
    grid-template-rows: 100px auto 50px auto;
}
#about table{
    border-spacing: 15px 5px;
    margin-top: 10px;
}
.about-learn {
    display: grid;
    width: 99%;
    grid-template-columns: repeat(auto-fit, 138px);
    grid-template-rows: repeat(auto-fit, 180px);
    gap: 5px 10px;
    padding-bottom: 10px;
    justify-content: center;
    height: fit-content;
}
.about-learn li {
    border-radius: 10px;
    background-color: #393e46;
    box-sizing: border-box;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.9);
}
.about-learn li > img {
    background-color: rgb(240, 240, 240);
    width: 128px;
    border-radius: 10px 10px 0px 0px;
    padding: 5px;
}
.about-learn li > p {
    text-align: center;
}

/* Mobile screen setting */

/* hover effect at 700px min width */
@media screen and (min-width: 701px){
    .fullList button:hover + .listMenu, .fullList .listMenu:hover{
        display: block;
    }
    .fullList button:hover{
        background-color: #39404b;
    }
}

/* General mobile screen effect */
@media screen and (max-width: 700px){
    .main{
        margin-left: 0px;
    }
    aside{
        transform: translateX(-100%);
    }
    #project, #about, #playlist, #home{
        width: 99%;
    }
    .nyam{
        display: grid;
    }
    .listMenu.listButton{
        display: block;
        animation: tadaa 0.5s ease;
    }
    .open{
        animation: asideSlide 0.4s forwards;
    }
    .openc {
        margin-left: 200px;
        transition: all 0.4s ease;
    }
    @keyframes asideSlide {
        0%{
            transform: translateX(-100%);
        } 100% {
            transform: translateX(0%);
        }
    }
    @keyframes tadaa {
        0% {
            opacity: 0;
        }100%{
            opacity: 1;
        }
    }
}